<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head>
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" th:href="@{/css/user/list.css}">
		<script th:src="@{/js/user/detail.js}" defer></script>
		<title>User Details</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="header border-bottom">
				<h1 class="h2">User Details</h1>
			</div>
			<form id="user-detail-form" method="post" class="form-signup" th:object="${userDetailForm}" th:action="@{/user/detail}">
				<input type="hidden" th:field="*{userId}">
				<!-- User Detail Information -->
				<table class="table table-striped table-bordered table-hover">
					<tbody>
						<tr>
							<th class="w-25">User ID</th>
							<td th:text="*{userId}"></td>
						</tr>
						<tr>
							<th>Password</th>
							<td>
								<input type="text" class="form-control" th:field="*{password}"/>
							</td>
						</tr>
						<tr>
							<th>User Name</th>
							<td>
								<input type="text" class="form-control" th:field="*{userName}"/>
							</td>
						</tr>
						<tr>
							<th>Birthday</th>
							<td th:text="*{#dates.format(birthday, 'dd/MM/YYYY')}"></td>
						</tr>
						<tr>
							<th>Age</th>
							<td th:text="*{age}"></td>
						</tr>
						<tr>
							<th>Gender</th>
							<td th:text="*{gender == 1 ? 'Male':'Female'}"></td>
						</tr>
						<tr>
							<th>Department name</th>
							<td>
								<span th:if="*{department != null}" th:text="*{department.departmentName}"></span>
							</td>
						</tr>
					</tbody>
				</table>	
				<div class="text-center">
					<input class="btn btn-danger" type="submit" name="delete" value="delete" />			
					<input class="btn btn-primary" type="submit" name="update" value="update" />
				</div>
				<div class="text-center mt-2">
					<button id="btn-delete" class="btn btn-danger" type="button">Delete (Rest)</button>
					<button id="btn-update" class="btn btn-primary" type="button">Update (Rest)</button>
				</div>
				<th:block th:if="*{salaryList != null and salaryList.size() > 0}">
					<div class="header border-bottom">
						<h1 class="h2">Salary</h1>
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="w-25">Year month</th>
									<th>Salary</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : *{salaryList}">
									<td th:text="${item.salaryKey.yearMonth}"></td>
									<td th:text="${#numbers.formatInteger(item.salary, 3, 'COMMA')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</th:block>							
			</form>
		</div>
	</body>
</html>