<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/user/list.css}"> 
    <title>User List</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="header border-bottom">
            <h1 class="h2"></h1>
        </div>
    </div>
</body>
</html>