<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
        <title>404 Error</title>
    </head>
    <body>
        <h1 th:text="${status} + ' ' + ${error}"></h1>
        <p>This is a 404 error page</p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-link">Return to login screen</button>
        </form>
    </body>
</html>