<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	    <link rel="stylesheet" th:href="@{/css/login/login.css}">
	    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<title>Login</title>
	</head>
	<body class="bg-light">
		<div class="text-center">
			<div class="login">
				<form th:action="@{/login}" method="post" class="form-login">
					<h2>Login</h2>
					<div class="form-group">
						<label for="userId" class="sr-only"></label>
						<input type="text" placeholder="User ID" class="form-control" name="userId" />
					</div>
					<div class="form-group">
						<label for="password" class="sr-only"></label>
						<input type="password" placeholder="Password" class="form-control" name="password" />
					</div>
					<input type="submit" class="btn btn-primary mt-3" value="Login" />
				</form>
				<a th:href="@{/user/signup}">Signup</a>
			</div>
		</div>
	</body>
</html>